<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.a1.emn/Elascript" 
       class = "emn.a1.elascript.ElascriptPackage"
       genModel = "model/generated/Elascript.genmodel" /> 
	
  </extension>



</plugin>
